Africaneo_dataset/*
!Africaneo_dataset/Groups
Africaneo_dataset/Groups/*
!Africaneo_dataset/Groups/All.png
!Africaneo_dataset/SNPs_of_interest
Africaneo_dataset/SNPs_of_interest/*
misc/*
PBS_statistic/*
results/tmp
!*.py
!*.ps1
*.csv
*.xlsx
*.tsv
.Rhistory
historiques_commandes.md
