*

!.gitignore
!.gitattributes
!README.md
!analyzes.R
!D_statistic.R
!get_freq_gene.sh
!grep_positions.sh
!PBS.R
!pie_charts_allele_frequencies.R
!sbatch_grep_positions.sh

!Africaneo_dataset/
!modify_duplicate_coords.py
!Africaneo_dataset/SNPs_of_interest/
!Africaneo_dataset/SNPs_of_interest/dbSNP_retrieve.py
!Africaneo_dataset/SNPs_of_interest/retrieve_genes.ps1

!results/
!results/*.html

